@import './variables';

// Convert px to rem
@function rem($size) {
  $remSize: $size / $baseSize;
  @return #{$remSize}rem;
}

@mixin font($type) {
  @if $type == default {
    font-family: $baseFont;
    font-weight: normal;
    font-style: normal;
  } @else if $type == medium {
    font-family: $baseFont;
    font-weight: 500;
    font-style: normal;
  } @else if $type == light {
    font-family: $baseFont;
    font-weight: 300;
    font-style: normal;
  }
}

@mixin respond($screen) {
  @if $screen == mobile {
    @media (max-width: $xs) { @content; }
  } @else if $screen == medium-tablet {
    @media (min-width: $xs) { @content; }
  } @else if $screen == wide-tablet {
    @media (min-width: $sm) { @content; }
  } @else if $screen == medium-screen {
    @media (min-width: $md) { @content; }
  } @else if $screen == wide-screen {
    @media (min-width: $lg) { @content; }
  } @else if $screen == widest-screen {
    @media (min-width: $max-width) { @content; }
  }
}