.welcome-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
  @include font(light);

  &__title {
    font-size: rem(48px);
  }

  &__icon {
    font-size: rem(96px);
    color: $lime;
  }
}