extends ./common/_layout--default.pug

block title
  title Starting Template

block content

  //- In app content

  .welcome-block
    +icon('i_beer', 'welcome-block__icon')
    .welcome-block__title Enjoy it :)