*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: $baseSize!important;
  font-weight: normal;
}

body {
  font-size: $baseSize!important;
  font-weight: normal;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: $baseFont;
  overflow-x: hidden;
  color: $light;
}

ul {
  margin: 0;
  padding: 0;
}

textarea,
input {
  border-radius: 0!important;
  -webkit-appearance: none!important;
  appearance: none!important;
}