*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: $baseSize!important;
  font-weight: normal;
}

body {
  font-size: $baseSize!important;
  font-weight: normal;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: 'OpenSans-Regular', sans-serif;
  overflow-x: hidden;
  color: $light;
}