include ../helpers/_mixins.pug
include ../helpers/_variables.pug

doctype html
html(lang='ru')
  head
    block title
      title Starting Template

    include ../partials/_head.pug

  body
    include ../partials/_header.pug

    block content

    include ../partials/_footer.pug