
//  Move this styles(header.min.css) in special style-tag in _head.pug after it's completed

//  Then you can delete header.min.css, header.sass and '<script>loadCSS( "css/header.min.css?ver=1.0.0" .. );</script>' in _head.pug'

@import "../libs/bourbon/app/assets/stylesheets/bourbon";
@import "../libs/normalize-css/normalize.css";
@import "variables";
@import "sprites";

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: 'OpenSansRegular', sans-serif;
  overflow-x: hidden;
  color: $color_on_light--text;
}

.hidden {
  display: none;
}