// Plugins
@import '../libs/normalize-css/normalize';

// Common
@import './common/mixins';
@import './common/variables';
@import './common/sprites';

// Primary
@import './primary/base';

// Components
@import './components/welcome-block';